@charset "UTF-8"; 
*{
  margin:0;
  padding:0;
}

body{
  background-color: lemonchiffon;
}
header{
  background-color:teal;
}
#main{
  background-color:cadetblue;
  width: calc(100% - 200px);
  min-width: 500px;
  float: left;
}
.box{
  backgroundcolor: peachpuff;
  color: lightcyan;
  width: 240px;
  margin: 5px;
  float: left;
}
#main1{
  background-color:coral;
  width: 500px;
  float: left;
}
#main2{
  background-color:steelblue;
  width: 500px;
  float: left;
}
aside{
background-color:seagreen;
  width: 200px;
  float: right;
}
footer{
  background-color:yellowgreen;
  clear: both;
}
